Repository Codelife-Compet/codelife.dev, pull requests merged in 2023-04, with the labels that each got.

#1 Setup Storybook documentation
  .github/workflows/deploy-docs.yml
  .gitignore
  package-lock.json
  package.json
  packages/docs/.eslintrc.json
  packages/docs/.gitignore
  packages/docs/.storybook/main.js
  packages/docs/.storybook/manager.js
  packages/docs/.storybook/preview-head.html
  packages/docs/.storybook/preview.js
  packages/docs/package.json
  packages/docs/public/images/avatar.png
  packages/docs/src/components/ColorsGrid.tsx
  packages/docs/src/components/TokensGrid.tsx
  packages/docs/src/pages/home.stories.mdx
  packages/docs/src/pages/tokens/colors.stories.mdx
  packages/docs/src/pages/tokens/fontSizes.stories.mdx
  packages/docs/src/pages/tokens/fontWeights.stories.mdx
  packages/docs/src/pages/tokens/fonts.stories.mdx
  packages/docs/src/pages/tokens/lineHeights.stories.mdx
  packages/docs/src/pages/tokens/radii.stories.mdx
  packages/docs/src/pages/tokens/space.stories.mdx
  packages/docs/src/stories/Avatar.stories.tsx
  packages/docs/src/stories/Box.stories.tsx
  packages/docs/src/stories/Button.stories.tsx
  packages/docs/src/stories/Checkbox.stories.tsx
  packages/docs/src/stories/Heading.stories.tsx
  packages/docs/src/stories/Text.stories.tsx
  packages/docs/src/stories/TextArea.stories.tsx
  packages/docs/src/stories/TextInput.stories.tsx
  packages/docs/src/styles/tokens-grid.css
  packages/react/package.json
  packages/react/src/components/Avatar/index.tsx
  packages/react/src/components/Avatar/styles.ts
  packages/react/src/components/Box.tsx
  packages/react/src/components/Button.tsx
  packages/react/src/components/Checkbox/index.tsx
  packages/react/src/components/Checkbox/styles.tsx
  packages/react/src/components/Heading.tsx
  packages/react/src/components/Text.tsx
  packages/react/src/components/TextArea.tsx
  packages/react/src/components/TextInput/index.tsx
  packages/react/src/components/TextInput/styles.ts
  packages/react/src/index.ts
  packages/react/src/index.tsx
  packages/react/styles/index.ts
  packages/tokens/package.json
  packages/tokens/src/colors.ts
  packages/tokens/src/space.ts
  turbo.json
Labels: documentation, rules

#5 Deploy on NPM and Dark Theme
  .changeset/README.md
  .changeset/config.json
  .changeset/real-bikes-relax.md
  .github/workflows/deploy-docs.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  README.MD
  package-lock.json
  package.json
  packages/docs/src/stories/Button.stories.tsx
  packages/docs/src/stories/Checkbox.stories.tsx
  packages/docs/src/stories/Heading.stories.tsx
  packages/docs/src/stories/Text.stories.tsx
  packages/docs/src/stories/TextArea.stories.tsx
  packages/docs/src/stories/TextInput.stories.tsx
  packages/react/src/components/Box.tsx
  packages/react/src/components/Button.tsx
  packages/react/src/components/Checkbox/styles.tsx
  packages/react/src/components/Heading.tsx
  packages/react/src/components/Text.tsx
  packages/react/src/components/TextArea.tsx
  packages/react/src/components/TextInput/index.tsx
  packages/react/src/components/TextInput/styles.ts
  packages/react/src/index.tsx
  packages/react/styles/index.ts
  packages/tokens/src/colors.ts
Labels: enhancement, rules

#11 Add dark theme and ssr css with stiches
  .changeset/eighty-doors-invite.md
  .github/workflows/deploy-docs.yml
  .github/workflows/release.yml
  apps/web/.eslintrc.json
  apps/web/next.config.js
  apps/web/package.json
  apps/web/src/@types/SvgIcon.ts
  apps/web/src/components/CompetIcon.tsx
  apps/web/src/components/EnterButton.tsx
  apps/web/src/components/FacebookIcon.tsx
  apps/web/src/components/Footer.tsx
  apps/web/src/components/GithubIcon.tsx
  apps/web/src/components/InstagramSVGIcon.tsx
  apps/web/src/components/LinkedinIcon.tsx
  apps/web/src/components/LogoIcon.tsx
  apps/web/src/components/Nav.tsx
  apps/web/src/components/NavBar.tsx
  apps/web/src/components/Socials.tsx
  apps/web/src/components/TwitterIcon.tsx
  apps/web/src/components/YoutubeIcon.tsx
  apps/web/src/context/auth/AuthContext.tsx
  apps/web/src/context/index.tsx
  apps/web/src/i18n.ts
  apps/web/src/pages/Layout.tsx
  apps/web/src/pages/_app.tsx
  apps/web/src/pages/_document.tsx
  apps/web/src/pages/dashboard/index.tsx
  apps/web/src/pages/index.tsx
  apps/web/src/styles/Footer.module.css
  apps/web/src/styles/Home.module.css
  apps/web/src/styles/Socials.module.css
  apps/web/tailwind.config.js
  package-lock.json
  packages/docs/src/stories/Socials.stories.tsx
  packages/docs/src/stories/Switch.stories.tsx
  packages/react/package.json
  packages/react/src/components/Avatar/index.tsx
  packages/react/src/components/Box.tsx
  packages/react/src/components/Button.tsx
  packages/react/src/components/Checkbox/index.tsx
  packages/react/src/components/Heading.tsx
  packages/react/src/components/Socials/index.tsx
  packages/react/src/components/Switch/index.tsx
  packages/react/src/components/Switch/styles.ts
  packages/react/src/components/Text.tsx
  packages/react/src/components/TextArea.tsx
  packages/react/src/components/TextInput/index.tsx
  packages/react/src/index.tsx
  packages/react/styles/index.ts
Labels: documentation, enhancement, rules

#20 docs: adding commands in documentation to configurate husky with commitizen
  .github/CONTRIBUTING.md
Labels: rules

#14 Feature card
  .changeset/tasty-dancers-run.md
  .vscode/extensions.json
  apps/web/next.config.js
  apps/web/package.json
  apps/web/public/locales/en/common.json
  apps/web/public/locales/pt/common.json
  apps/web/src/hooks/useTheme.tsx
  apps/web/src/i18n.ts
  apps/web/src/pages/Layout.tsx
  apps/web/src/pages/_document.tsx
  apps/web/src/pages/index.tsx
  packages/docs/src/stories/Card.stories.tsx
  packages/react/src/components/Card/index.tsx
  packages/react/src/components/Card/styles.ts
  packages/react/src/components/Heading.tsx
  packages/react/src/components/Text.tsx
  packages/react/src/index.tsx
  packages/react/styles/index.ts
  packages/tokens/src/font-sizes.ts
Labels: documentation, enhancement, rules
